body {
  background-color: #1D1D1D;
  color: #FFFFFF;
  margin-left: auto;
  margin-right: auto;
  width: min-content;
  font-family: 'Open Sans', sans-serif;
}

#main {
  width: calc(100vw - 150px)
}

@media (max-width: 1000px) {
  #main {
    width: 100vw;
  }
}

#menu-logo {
  flex: 2;
  width: 150px;
}

#menu-content {
  flex: 5;
  width: 100%;
}

#menu-footer {
  flex: 1;
  width: 150px
}

#menu-footer-flex {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

#menu-button {
  position: absolute;
  left: calc(100vw - 60px - 14px);
  top: 14px;
  width: 60px;
  height: 60px;
  background-color: #000000;
  z-index: 99;
}

.menuItemButton {
  position: relative;
  color: #616165;
  font-weight: 400;
  font-size: 18px;
  background-color: #1D1D1D;
  border-style: none none solid solid;
  border-width: 1px;
  border-color: #616165;
  text-align: center;
  margin-top: 4px;
  margin-bottom: 4px;
  padding-top: 7px;
  padding-bottom: 7px;
  z-index: 101;
}

.menuItemButton:hover {
  color: #1D1D1D;
  background-color: #616165;
  cursor: pointer;
}

.menuItemButtonWithNoPadding {
  color: #616165;
  font-weight: 400;
  font-size: 18px;
  background-color: #1D1D1D;
  border-style: none none solid solid;
  border-width: 1px;
  border-color: #616165;
  text-align: center;
  margin-top: 4px;
  margin-bottom: 4px;
}

.menuItemButtonWithNoPadding:hover {
  color: #1D1D1D;
  background-color: #616165;
}

.menuItemButtonLink {
  display:block;
  color: #616165;
  font-weight: 400;
  font-size: 18px;
  padding-top: 7px;
  padding-bottom: 7px;
}

.menuItemButtonLink:hover {
  color: #1D1D1D;
  background-color: #616165;
}

/*          */
/*   Logo   */
/*          */

#logo-container {
  margin-top: 0px;
  margin-right: auto;
  margin-bottom: 0px;
  margin-left: auto;
  height: 140px;
  background-color: #000000;
  padding: 10px 0px 30px 0px;
}

#logo-box {
  font-size: 100px;
  font-weight: 600;
  height: 130px;
}

#logo-s {
  position: relative;
  left: 30px;
  top: -20px;
  color: #6f70c4;
  width: 55px;
}

#logo-o {
  position: relative;
  left: 45px;
  top: -130px;
  width: 80px;
  color: #ECC05B;
}

#logo-home-page {
  color: #616165;
  text-align: center;
}

/*                 */
/*   Welcome Page  */
/*                 */

#o-in-background {
  position: absolute;
  top: -800px;
  left: 870px;
  font-size: 2000px;
  font-weight: 800;
  color: #222222;
  z-index: 0;
}

#WelcomePageContainer {
  background-color: #1D1D1D;
  height: 100vh;
  justify-content: center;
  align-items: center;
  overflow:unset;
  scrollbar-width: none;
  display: flex;
}

#WelcomeBox {
  width: 90%;
  color: #FFFFFF;
  margin-top: 25px;
  margin-right: 40px;
  margin-left: 40px;
  padding-bottom: 20px;
  display: flex;
  flex-direction: column;
}

@media (max-width: 800px) {
  #WelcomeBox {
    margin-left: 17px;
    margin-right: 40px;
  }
}

#welcomeBoxHeaderBox {
  margin: 20px;
  font-size: 60px;
  font-family: 'Open Sans', sans-serif;
  font-weight:800
}

@media (max-width: 1000px) {
  #welcomeBoxHeaderBox {
    font-size: 45px;
  }
}

@media (max-width: 800px) {
  #welcomeBoxHeaderBox {
    margin: 0px 0px 0px 12px;
    font-size: 30px;
  }
}

#welcomeBoxHeaderBoxLetterS {
  color:#6f70c4;
  font-size: 70px;
}

@media (max-width: 1000px) {
  #welcomeBoxHeaderBoxLetterS {
    font-size: 60px;
  }
}

@media (max-width: 800px) {
  #welcomeBoxHeaderBoxLetterS {
    font-size: 50px;
  }
}

#welcomeBoxHeaderBoxLetterO {
  color:#ECC05B;
  font-size: 70px;
}

@media (max-width: 1000px) {
  #welcomeBoxHeaderBoxLetterO {
    font-size: 60px;
  }
}

@media (max-width: 800px) {
  #welcomeBoxHeaderBoxLetterO {
    font-size: 50px;
  }
}

#welcomeBoxPortfolioButtonsBox {
  margin-top: 8px;
  padding-left: 5px;
  display: flex;
  flex-direction: row;
  gap: 30px;
}

@media (max-width: 800px) {
  #welcomeBoxPortfolioButtonsBox {
    margin-top: 25px;
    flex-direction: column;
    gap: 0px;
  }
}

.PortfolioButton {
  color: #ECC05B;
  font-size: 30px;
  font-weight: 700;
  border-color: #ECC05B;
  border-style: solid;
  border-width: 1px;
  padding: 20px;
  margin: 10px;
  width: 280px;
  text-align: center;
}

.PortfolioButton:hover {
  background-color: #ECC05B;
  color: #1D1D1D;
}

#welcomeBoxContactButtonBox {
  padding-left: 5px;
  display: flex;
  flex-direction: row;
  gap: 30px;
}

#ContactMeButton {
  color: #6f70c4;
  font-size: 30px;
  font-weight: 700;
  border-color: #6f70c4;
  border-style: solid;
  border-width: 1px;
  padding: 20px;
  margin: 10px;
  width: 280px;
  text-align: center;
}

#ContactMeButton:hover {
  background-color: #6f70c4;
  color: #1D1D1D;
}

#web-dev-container {
  width: 100%;
  height: 100vh;
  overflow-y: scroll;
  scrollbar-width: none;
}


/*                */
/*   WebDev Page  */
/*                */

/* WebDevAboutMe */

#web-dev-about-me-container {
  background-color: yellowgreen;
  width: calc(100% - 40px);
  height: calc(100vh - 40px);
  display: flex;
  flex-direction: row;
  padding: 20px;
}

@media (max-width: 1000px) {
  #web-dev-about-me-container {
    flex-direction: column;
  }
}

#web-dev-about-me-content {
  flex: 1;
  border-color: black;
  border-style: solid;
  border-width: 1px;
}

#web-dev-about-me-tech {
  flex: 1;
  border-color: grey;
  border-style: solid;
  border-width: 1px;
}

/* Education */

#web-dev-education-container {
  background-color: silver;
  margin: 0px;
  width: calc(100% - 40px);
  height: calc(100vh - 40px);
  padding: 20px
}

#web-dev-education-container h1 {
  margin: 10px 0px 30px 0px
}


/* Projects */

#web-dev-projects-container {
  margin: 0px;
  background-color: purple;
  width: calc(100% - 40px);
  height: calc(100vh - 40px);
  padding: 20px 20px 40px 30px
}

#web-dev-projects-container h1 {
  margin: 10px 0px 30px 0px
}

/* Skills */

#web-dev-skills-container {
  margin: 0px;
  background-color: lightseagreen;
  width: calc(100% - 40px);
  height: calc(100vh - 40px);
  padding: 20px 20px 40px 30px
}

#web-dev-skills-container h1 {
  margin: 10px 0px 30px 0px
}

/* WebDevContact */

#web-dev-contact-container {
  background-color: lightcoral;
  width: calc(100% - 40px);
  height: calc(100vh - 40px);
  padding: 20px 20px 40px 30px
}

#web-dev-contact-container h1 {
  margin: 0px;
}


/*                */
/*   Music Page   */
/*                */

#music-all-container {
  width: 100%;
  height: 100vh;
  overflow-y: scroll;
  scrollbar-width: none;
}

/*   MusicAboutMe   */

#music-about-me {

  background-color: #1D1D1D;
  width: 100%;
  min-height: 100vh;
  position: relative;
}

#music-about-me-svg-background {
  position: absolute;
  height: 100vh;
  z-index: 0;
}

#music-about-me-svg-background svg {
  width: 100%;
  height: 100%;
}


#music-about-me-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
}

@media (max-width: 1200px) {
  #music-about-me-container {
    flex-direction: column;
  }
}

#music-about-me-text {
  padding: 20px 20px 40px 30px;
  flex: 1;
  z-index: 1;
  /* border: yellow solid 1px */
}

#music-about-me-photo-container {
  flex: 1;
  /* border: white solid 1px; */
  display: flex;
  align-items: center;
  justify-content: center;
}

/*   MyWorks   */

#my-works {
  background-color: #1D1D1D;
  width: calc(100% - 40px);
  min-height: calc(100vh - 40px);
  padding: 20px 20px 40px 30px
}

#my-works-videocards-container {
  margin-left: auto;
  margin-right: auto;
  max-width: 1620px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

#pagination-box {
  text-align: center;
  margin-top: 8px;
  margin-right: 15px;
}

#pagination-box button {
margin: 2px;
padding: 6px 10px 6px 10px;
min-width: 25px;
}

.pagination-button-active {
  cursor: pointer;
  background-color: #616165;
  color: #000000;
  border-color: #000000;
  border-style:solid;
  border-radius: 0%;
  border-width: 1px;
}

.pagination-button-inactive {
  cursor: pointer;
  background-color: #000000;
  color: #616165;
  border-color: #616165;
  border-style:solid;
  border-radius: 0%;
  border-width: 1px;
}

.pagination-button-prev {
  cursor: pointer;
  background-color: #000000;
  color: #616165;
  border-color: #616165;
  border-style:solid;
  border-radius: 0%;
  border-width: 1px;
}

.pagination-button-prev-disabled {
  background-color: #1D1D1D;
  color: #282828;
  border-color: #282828;
  border-style:solid;
  border-radius: 0%;
  border-width: 1px;
}

.pagination-button-next {
  cursor: pointer;
  background-color: #000000;
  color: #616165;
  border-color: #616165;
  border-style:solid;
  border-radius: 0%;
  border-width: 1px;
}

.pagination-button-next-disabled {
  background-color: #1D1D1D;
  color: #282828;
  border-color: #282828;
  border-style:solid;
  border-radius: 0%;
  border-width: 1px;
}


/*   MyMusic   */

#my-music {
  background-color: #1D1D1D;
  width: calc(100% - 40px);
  height: calc(100vh - 40px);
  padding: 20px 20px 40px 30px
}

/*   MyDiscography   */

#my-discography {
  background-color: #1D1D1D;
  width: calc(100% - 40px);
  height: calc(100vh - 40px);
  padding: 20px 20px 40px 30px
}

/*   MusicForMarketing   */

#music-for-marketing {
  background-color: #1D1D1D;
  width: calc(100% - 40px);
  height: calc(100vh - 40px);
  padding: 20px 20px 40px 30px
}

/*   FilmScoring   */

#film-scoring {
  background-color: #1D1D1D;
  width: calc(100% - 40px);
  height: calc(100vh - 40px);
  padding: 20px 20px 40px 30px
}

/*   SoundDesign   */

#sound-design {
  background-color: #1D1D1D;
  width: calc(100% - 40px);
  height: calc(100vh - 40px);
  padding: 20px 20px 40px 30px
}

/*   MusicContact   */

#music-contact {
  background-color: #1D1D1D;
  width: calc(100% - 40px);
  height: calc(100vh - 40px);
  padding: 20px 20px 40px 30px
}

.video-card {
  width: 408px;
  height: 285px;
}

.video-card-player {
  border: none;
  width: 100%;
  height: 170px;
}

.video-card-description {
  background-color: #222222;
  width: 100%;
  text-align: center;
  padding-bottom: 6px
}

#photo-div {
  width: 100%;
}

#photo {
  width: 100%;
  height: 100vh;
  object-fit: cover;
}

@media (max-width: 1200px) {
  #photo {
    width: 100%;
    min-height: 35vh;
    max-height: 50vh;
  }
}

/*                  */
/*   Audio Player   */
/*                  */

.audio-player-full {
  /* border: solid 1px tomato; */
  margin-top: 30px;
  margin-right: 18px;
  height: calc(100vh - 190px)
}

.audio-player-top-bar {
  /* border: solid 1px yellow; */
  height: 90px;
  display: flex
}

.audio-player-currentsonginfo {
    /* border: solid 1px yellow; */
    width: calc(100% - 90px);
    padding-left: 12px;
    font-size: 1.3em;
}

.audio-player-track-nav-bar {
  /* border: solid 1px green; */
  margin-top: 8px;
  padding-top: 4px;
  height: 30px;
  display: flex;
  justify-content:space-between
}

.audio-player-track-nav-button-container {
  width: 90px;
  display: flex;
  align-items: center;
  justify-content:space-evenly;
}

.audio-player-navbutton {
  margin: 2px
}

.audio-player-progressbar-container {
  width: calc(100% - 240px)
}

.audio-player-progressbar {
  width: 100%
}

.audio-player-time {
  margin-left: 12px;
  margin-right: 6px;
}

.audio-player-volume{
  margin-left: 5px;
  margin-right: 8px;
}

.audio-player-track-list {
  /* border: solid 1px yellow; */
  overflow: scroll;
  height: calc((100% - 125px) * 0.6);
}

.audio-player-track {
  margin-top: 2px;
  padding: 4px;
  border-color: #616165;
  border-width: 0px 0px 1px 0px;
  border-style: solid;
  display: flex;
  justify-content: space-between;
}

.audio-player-track:hover {
  background-color: #ECC05B;
  color: #000000;
  cursor: pointer;
}



.audio-player-audio-visualiser {
  /* border: solid 1px green; */
  height: calc((100% - 125px) * 0.4);
  display: flex
}