body {
  background-color: #1D1D1D;
  color: #FFFFFF;
  margin-left: auto;
  margin-right: auto;
  width: min-content;
  font-family: 'Open Sans', sans-serif;
}

#menu-logo {
  flex: 2;
  width: 150px;
}

#menu-content {
  flex: 5;
  width: 100%;
}

#menu-footer {
  flex: 1;
  width: 150px
}

#menu-footer-flex {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

#menu-button {
  position: absolute;
  left: calc(100vw - 60px - 14px);
  top: 14px;
  width: 60px;
  height: 60px;
  background-color: #000000;
  z-index: 2;
}

.menuItemButton {
  color: #616165;
  font-weight: 400;
  font-size: 18px;
  background-color: #1D1D1D;
  border-style: none none solid solid;
  border-width: 1px;
  border-color: #616165;
  text-align: center;
  margin-top: 4px;
  margin-bottom: 4px;
  padding-top: 7px;
  padding-bottom: 7px;
}

.menuItemButton:hover {
  color: #1D1D1D;
  background-color: #616165;
  cursor: pointer;
}

.menuItemButtonWithNoPadding {
  color: #616165;
  font-weight: 400;
  font-size: 18px;
  background-color: #1D1D1D;
  border-style: none none solid solid;
  border-width: 1px;
  border-color: #616165;
  text-align: center;
  margin-top: 4px;
  margin-bottom: 4px;
}

.menuItemButtonWithNoPadding:hover {
  color: #1D1D1D;
  background-color: #616165;
}

.menuItemButtonLink {
  display:block;
  color: #616165;
  font-weight: 400;
  font-size: 18px;
  padding-top: 7px;
  padding-bottom: 7px;
}

.menuItemButtonLink:hover {
  color: #1D1D1D;
  background-color: #616165;
}

/*          */
/*   Logo   */
/*          */

#logo-container {
  margin-top: 0px;
  margin-right: auto;
  margin-bottom: 0px;
  margin-left: auto;
  height: 140px;
  background-color: #000000;
  padding: 10px 0px 30px 0px;
}

#logo-box {
  font-size: 100px;
  font-weight: 600;
  height: 130px;
}

#logo-s {
  position: relative;
  left: 30px;
  top: -20px;
  color: #93C2F0;
  width: 55px;
}

#logo-o {
  position: relative;
  left: 45px;
  top: -130px;
  width: 80px;
  color: #ECC05B;
}

#logo-home-page {
  color: #616165;
  text-align: center;
}

/*                 */
/*   Welcome Page  */
/*                 */

#WelcomePageContainer {
  background-color: #1D1D1D;
  height: 100vh;
  justify-content: center;
  overflow: hidden;
  scrollbar-width: none;
}

#WelcomeBox {
  color: #FFFFFF;
  border-style: solid;
  border-width: 1px;
  border-color: yellowgreen;
  background-color: #1D1D1D;
  margin-top: 25vh;
  margin-right: 40px;
  margin-bottom: 40px;
  margin-left: 40px;
  display: flex;
  flex-direction: column;
}

#welcomeBoxPortfolioButtonsBox {
  display: flex;
  flex-direction: row;
}
#welcomeBoxHeaderBox {
  margin: 20px
}
#PortfolioButton {
  border-color: violet;
  border-style: solid;
  border-width: 1px;
  padding: 20px;
  margin: 20px;
}

#ContactMeButton {
  border-color: violet;
  border-style: solid;
  border-width: 1px;
  margin: 20px;
  padding: 20px;
  width: 100px
}

#web-dev-container {
  width: 100%;
  height: 100vh;
  overflow-y: scroll;
  scrollbar-width: none;
}


/*                */
/*   WebDev Page  */
/*                */

/* WebDevAboutMe */

#web-dev-about-me-container {
  background-color: yellowgreen;
  width: calc(100% - 40px);
  height: calc(100vh - 40px);
  display: flex;
  flex-direction: row;
  padding: 20px;
}

@media (max-width: 1000px) {
  #web-dev-about-me-container {
    flex-direction: column;
  }
}

#web-dev-about-me-content {
  flex: 1;
  border-color: black;
  border-style: solid;
  border-width: 1px;
}

#web-dev-about-me-tech {
  flex: 1;
  border-color: grey;
  border-style: solid;
  border-width: 1px;
}

/* Education */

#web-dev-education-container {
  background-color: silver;
  margin: 0px;
  width: calc(100% - 40px);
  height: calc(100vh - 40px);
  padding: 20px
}

#web-dev-education-container h1 {
  margin: 10px 0px 30px 0px
}


/* Projects */

#web-dev-projects-container {
  margin: 0px;
  background-color: purple;
  width: calc(100% - 40px);
  height: calc(100vh - 40px);
  padding: 20px 20px 40px 30px
}

#web-dev-projects-container h1 {
  margin: 10px 0px 30px 0px
}

/* Skills */

#web-dev-skills-container {
  margin: 0px;
  background-color: lightseagreen;
  width: calc(100% - 40px);
  height: calc(100vh - 40px);
  padding: 20px 20px 40px 30px
}

#web-dev-skills-container h1 {
  margin: 10px 0px 30px 0px
}

/* WebDevContact */

#web-dev-contact-container {
  background-color: lightcoral;
  width: calc(100% - 40px);
  height: calc(100vh - 40px);
  padding: 20px 20px 40px 30px
}

#web-dev-contact-container h1 {
  margin: 0px;
}


/*                */
/*   Music Page   */
/*                */

/*   MusicAboutMe   */

#music-about-me {
  background-color: lightpink;
  width: calc(100% - 40px);
  height: calc(100vh - 40px);
  padding: 20px 20px 40px 30px
}

/*   MyWorks   */

#my-works {
  background-color: lightskyblue;
  width: calc(100% - 40px);
  height: calc(100vh - 40px);
  padding: 20px 20px 40px 30px
}

/*   MyMusic   */

#my-music {
  background-color: lightgray;
  width: calc(100% - 40px);
  height: calc(100vh - 40px);
  padding: 20px 20px 40px 30px
}

/*   MyDiscography   */

#my-discography {
  background-color: lightcoral;
  width: calc(100% - 40px);
  height: calc(100vh - 40px);
  padding: 20px 20px 40px 30px
}

/*   MusicForMarketing   */

#music-for-marketing {
  background-color: green;
  width: calc(100% - 40px);
  height: calc(100vh - 40px);
  padding: 20px 20px 40px 30px
}

/*   FilmScoring   */

#film-scoring {
  background-color: blueviolet;
  width: calc(100% - 40px);
  height: calc(100vh - 40px);
  padding: 20px 20px 40px 30px
}

/*   SoundDesign   */

#sound-design {
  background-color: sienna;
  width: calc(100% - 40px);
  height: calc(100vh - 40px);
  padding: 20px 20px 40px 30px
}

/*   MusicContact   */

#music-contact {
  background-color: slategrey;
  width: calc(100% - 40px);
  height: calc(100vh - 40px);
  padding: 20px 20px 40px 30px
}

